<div class="input">
    <label>
        <input
                class="input__element {{appointment}}"
                placeholder=""
                type={{type}}
                required
        />
        <p class="input__label">{{label}}</p>
    </label>
</div>