<div class="modal__background"></div>

<div class="modal__control-user">
    <p>{{labelTitle}}</p>
    {{>Input
            appointment="input__control-user"
            type="text"
            label="Логин"
    }}
    {{>Button
            appointment="primary"
            label=test
    }}
</div>