<div class="chat__items">

    {{>ChatItem
            imgLink="/user1.jpg"
            imgAlt="user-1.jpg"
            nameUser="Андрей"
            messageUser="Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"
            dateMessage="10:49"
            unreadValue="2"
    }}

    {{>ChatItem
            imgLink="/user2.jpg"
            imgAlt="user-2.jpg"
            nameUser="Сергей"
            sender="Вы: "
            messageUser="consectetur adipiscing elit, sed do eiusmod tempor incididnt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"
            dateMessage="08:49"
            unreadValue="42"
    }}

    {{>ChatItem
            imgLink="/user3.jpg"
            imgAlt="user-3.jpg"
            nameUser="Алёша"
            sender="Вы: "
            messageUser="consectetur adipiscing elit, sed do eiusmod tempor incididnt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"
            dateMessage="05:13"
            unreadValue=""
    }}

    {{>ChatItem
            imgLink="/user4.jpg"
            imgAlt="user-4.jpg"
            nameUser="Киви"
            sender="Вы: "
            messageUser="consetation"
            dateMessage="вт"
            unreadValue="1"
    }}

    {{>ChatItem
            imgLink="/user1.jpg"
            imgAlt="user-1.jpg"
            nameUser="Рентген Дмитрий Валерьевич"
            sender="Вы: "
            messageUser="consectetur adipiscing elit, sed do eiusmod tempor incididnt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"
            dateMessage="ср"
            unreadValue="42"
    }}

    {{>ChatItem
            imgLink="/user3.jpg"
            imgAlt="user-3.jpg"
            nameUser="Джеймс Хэтфилд"
            sender="Вы: "
            messageUser="consectetur adipiscing elit, sed do eiusmod tempor incididnt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"
            dateMessage="чт"
            unreadValue="7"
    }}

    {{>ChatItem
            imgLink="/user2.jpg"
            imgAlt="user-2.jpg"
            nameUser="Валенок"
            sender=""
            messageUser="consectetur adipiscing elit, sed do eiusmod tempor incididnt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"
            dateMessage="пт"
            unreadValue=""
    }}

    {{>ChatItem
            imgLink="/user4.jpg"
            imgAlt="user-4.jpg"
            nameUser="Чат Вселенной"
            sender="Вы: "
            messageUser="consectetur adipiscing elit, sed do eiusmod tempor incididnt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"
            dateMessage="пт"
            unreadValue="10"
    }}

    {{>ChatItem
            imgLink="/user1.jpg"
            imgAlt="user-1.jpg"
            nameUser="Оби Ван Кеноби"
            sender=""
            messageUser="consectetur adipiscing elit, sed do eiusmod tempor incididnt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"
            dateMessage="пт"
            unreadValue=""
    }}

    {{>ChatItem
            imgLink="/user2.jpg"
            imgAlt="user-2.jpg"
            nameUser="Мистер Твистер"
            sender="Вы: "
            messageUser="consectetur adipiscing elit, sed do eiusmod tempor incididnt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation"
            dateMessage="пт"
            unreadValue=""
    }}

    {{>ChatItem
            imgLink="/user3.jpg"
            imgAlt="user-3.jpg"
            nameUser="Мистер Кот"
            sender=""
            messageUser="МЯУ"
            dateMessage="пт"
            unreadValue=""
    }}

    {{>ChatItem
            imgLink="/user3.jpg"
            imgAlt="user-3.jpg"
            nameUser="Мистер Кот"
            sender=""
            messageUser="МЯУ"
            dateMessage="пт"
            unreadValue="33"
    }}

    {{>ChatItem
            imgLink="/user3.jpg"
            imgAlt="user-3.jpg"
            nameUser="Мистер Кот"
            sender=""
            messageUser="МЯУ"
            dateMessage="пт"
            unreadValue=""
    }}

    {{>ChatItem
            imgLink="/user3.jpg"
            imgAlt="user-3.jpg"
            nameUser="Мистер Кот"
            sender=""
            messageUser="МЯУ"
            dateMessage="пт"
            unreadValue=""
    }}

    {{>ChatItem
            imgLink="/user3.jpg"
            imgAlt="user-3.jpg"
            nameUser="Мистер Кот"
            sender=""
            messageUser="МЯУ"
            dateMessage="пт"
            unreadValue="5"
    }}

    {{>ChatItem
            imgLink="/user3.jpg"
            imgAlt="user-3.jpg"
            nameUser="Мистер Кот"
            sender=""
            messageUser="МЯУ"
            dateMessage="пт"
            unreadValue=""
    }}

    {{>ChatItem
            imgLink="/user3.jpg"
            imgAlt="user-3.jpg"
            nameUser="Мистер Кот"
            sender=""
            messageUser="МЯУ"
            dateMessage="пт"
            unreadValue="7"
    }}

</div>
