<div class="wrapper">
    <div class="chat__nav">

        <div class="chat__nav-header">
            {{>Button appointment="nav-profile" label="Профиль"}}
            {{>Input appointment="input__nav-search" type="text" label="Поиск"}}
        </div>

        {{>ChatsList}}

    </div>

    <div class="chat__field">
        <p class="chat__field-title">Выберите чат чтобы отправить сообщение</p>
    </div>
</div>