.chat__item {
    position: relative;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    height: 80px;
    cursor: pointer;
    transition: 0.25s;
    border-top: 1px solid var(--secondary-color);
}

.chat__item:hover {
    transition: 0.25s;
    background-color: var(--secondary-color);
}

.chat__item-avatar {
    border-radius: 50%;
    min-width: 50px;
    object-fit: cover;
}

.chat__item-data {
    padding: 1rem;
    text-align: left;
}

.chat__item-name {
    font-weight: 700;;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.chat__item-message {
    display: flex;
    color: var(--text-secondary-color);
    line-height: 1rem;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.chat__item-message > span:first-child {
    font-weight: 600;
    color: var(--text-main-color);
}

.chat__item-info {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: space-around;
    height: 100%;
}

.chat__item-message-date {
    font-size: 0.7em;
    color: var(--text-secondary-color);
}

.chat__item-unread-value {
    position: relative;
    background-color: var(--main-color);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    color: #fff;
}
.chat__item-unread-value:empty {
    width: 0;
    height: 0;
}
