<div class="wrapper">

    {{>Button appointment="profile-back"}}

    <div class="profile__field">

        <div class="profile__main-data">
            <img class="profile__avatar" src="/src/assets/img/avatar-plug.png" width="130" height="130" alt="">
            <p class="profile__avatar-change">Поменять аватар</p>
        </div>

        <div class="profile__data">
            <p>Старый пароль</p>
            {{>Input appointment="input__profile-data" type="password" label="******"}}
        </div>
        <div class="profile__data">
            <p>Новый пароль</p>
            {{>Input appointment="input__profile-data" type="password" label="********"}}
        </div>
        <div class="profile__data">
            <p>Повторите новый пароль</p>
            {{>Input appointment="input__profile-data" type="password" label="********"}}
        </div>

        <div class="profile__control">
            {{>Button appointment="primary-profile" label="Сохранить"}}
        </div>

    </div>

</div>