<div class="chat__message {{appointment}}">
    <div class="message-content">{{content}}</div>
    <div class="message-attachments">{{attachments}}</div>
    <div class="message-info">
        <img class="message-status" src="/public/message-read-icon.png" alt="" width="10" height="5">
        <p class="message-date">{{date}}</p>
    </div>
</div>
